
.opensans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.navbar {
    margin-bottom: 10px;
}

.card {
    margin: 1px;
    background-color: #E6E7E9;
}

.button {
    background-image: url(images/info-button.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: none;
    position:absolute;
    top: 5px;
    right: 5px;
    height: 15px;
    width: 15px;
    margin: 2px;
}

h4{ 
    text-transform: uppercase;
    text-align: center;  
    font-weight: bolder;
    letter-spacing: 0.17em;
    text-shadow: 1px 1px 1px #fff;
}

.description{
    color: #3e3e3f;
    text-transform: uppercase;
    text-align: center;  
    font-weight: 250;
}
.graph{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#KPI1_title{
    color: #F7931D;
    text-shadow: 1px 1px 1px #fff;
}

#KPI2_title{
    color: #E15183;
    text-shadow: 1px 1px 1px #fff;
}

#KPI3_title{
    color: #0C6638;
    text-shadow: 1px 1px 1px #fff;
}

#KPI4_title{
    color: #1d48c0;
    text-shadow: 1px 1px 1px #fff;
}
#KPI5_title{
    color: #ee3f36;
    text-shadow: 1px 1px 1px #fff;
}
#KPI6_title{
    color: #a10587;
    text-shadow: 1px 1px 1px #fff;
}

.colour-change {
    background-color: Transparent;
    font-family: "Open Sans", sans-serif;
    color: rgb(168, 168, 168);
    padding: .55em;
    border: none;
  }

.colour-change:hover {
    background-color: Transparent;
    color: rgb(207, 207, 207);
    padding: .55em;
    border: none;
   }
.KPItable{
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;  
    font-weight: bolder;
    letter-spacing: 0.15em;
    margin-left:auto; 
    margin-right:auto;
}
/* 
#KPItable {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;  
    font-weight: bolder;
    letter-spacing: 0.15em;
    margin-left:auto; 
    margin-right:auto;
} */

#KPI1table thead th {
    border-bottom: solid 2px #E15183;
    color:  #F7931D;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

#KPI2table thead th {
    border-bottom: solid 2px #F7931D;
    color:  #E15183;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}


#KPI3table thead th {
    border-bottom: solid 2px #1d48c0;
    color:  #0C6638;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.KPItable tbody td {
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}