
.opensans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.navbar {
    margin-bottom: 10px;
}

.card {
    margin: 1px;
    background-color: #E6E7E9;
}
#home{
    color: rgb(168, 168, 168);
}
.button {
    background-image: url(images/info-button.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: none;
    position:absolute;
    top: 5px;
    right: 5px;
    height: 15px;
    width: 15px;
    margin: 2px;
}

h4{ 
    text-transform: uppercase;
    text-align: center;  
    font-weight: bolder;
    letter-spacing: 0.17em;
    text-shadow: 1px 1px 1px #fff;
}

.description{
    color: #3e3e3f;
    text-transform: uppercase;
    text-align: center;  
    font-weight: 250;
}
.graph{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#KPI1_title{
    color: #F7931D;
    text-shadow: 1px 1px 1px #fff;
}

#KPI2_title{
    color: #E15183;
    text-shadow: 1px 1px 1px #fff;
}

#KPI3_title{
    color: #0C6638;
    text-shadow: 1px 1px 1px #fff;
}

#KPI4_title{
    color: #1d48c0;
    text-shadow: 1px 1px 1px #fff;
}
#KPI5_title{
    color: #ee3f36;
    text-shadow: 1px 1px 1px #fff;
}
#KPI6_title{
    color: #a10587;
    text-shadow: 1px 1px 1px #fff;
}

.colour-change {
    background-color: Transparent;
    font-family: "Open Sans", sans-serif;
    color: rgb(168, 168, 168);
    padding: .55em;
    border: none;
  }

.colour-change:hover {
    background-color: Transparent;
    color: rgb(207, 207, 207);
    padding: .55em;
    border: none;
   }
.KPItable{
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;  
    font-weight: bolder;
    letter-spacing: 0.15em;
    margin-left:auto; 
    margin-right:auto;
}
.KPItable tbody td {
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

#KPI1table thead th {
    border-bottom: solid 2px #E15183;
    color:  #F7931D;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

#KPI2table thead th {
    border-bottom: solid 2px #F7931D;
    color:  #E15183;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}


#KPI3table thead th {
    border-bottom: solid 2px #1d48c0;
    color:  #0C6638;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
#KPI4table thead th {
    border-bottom: solid 2px #a10587;
    color:  #1d48c0;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
#KPI5table thead th {
  border-bottom: solid 2px #0C6638;
  color:  #ee3f36;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

#KPI6table thead th {
    border-bottom: solid 2px #ee3f36;
    color:  #a10587;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.separate{
  padding:45px
}

.img {
  height: auto; 
  width: auto; 
  /* max-width: 100%;
  max-height: 100%; */
}

#uploadWindow{
  padding-left: 10px;
}


.site-footer {
    background-color: #3e3e3f;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: rgb(168, 168, 168);
  }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  .site-footer hr.small {
    margin: 20px 0;
  }
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  .site-footer a {
    color: #737373;
  }
  .site-footer a:hover {
    color: #F7931D;
    text-decoration: none;
  }
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  .footer-links li {
    display: block;
  }
  .footer-links a {
    color: #737373;
  }
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #F7931D;
    text-decoration: none;
  }
  .footer-links.inline li {
    display: inline-block;
  }
  .site-footer .social-icons {
    text-align: right;
  }
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }
  .copyright-text {
    margin: 0;
  }
  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }


  @media (max-width: 767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
  
 
  
